{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url(static/img/home.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Admin Blog</h1>
                    <span class="subheading">A Blog only for Coders</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Message</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contact %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.phno }}</td>
                        <td>{{ contact.msg }}</td>
                        <td>{{ contact.email }}</td>
                        <td> <a href="/deleteCon/{{contact.id}}"><button class="btn btn-primary">Delete</button> </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
{% endblock %}